<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/pages.js"></script>
    <script type="text/javascript" src="/static/js/accordion.js"></script>
    <script type="text/javascript" src="/static/js/nkl.js"></script>
    <script type="text/javascript">
        function submitForm(event) {
            $body = $("body");
            $body.addClass("loading");

            // Create a jQuery object from the form
            $form = $(event.target);
        
            // Serialize the form data
            var formData = new FormData($form);

            $.ajax({
                url: $form.attr('action'),
                type: 'POST',
                data: formData,
                cache: false,
                dataType: 'json',
                success: function(data) {
                    alert('Загрузка завершена');
                },
                complete: function() {
                    // STOP LOADING SPINNER
                    $body.removeClass("loading");                   
                }
            });

            return false;
        }
    </script>
  </head>
  <body>
    <div class="main">
      <div class="header">
         {% block header %}{% endblock header %}
      </div>
      <div class="content">
         {% block content %}{% endblock content %}
      </div>
    </div>
    <div class="modal"><!-- Place at bottom of page --></div>
  </body>
</html>

