<div id="admin">
  <ul class="page-list"></ul>
  <div class="page active-page" id="admin1">
    <h1>Справочник товаров</h1>
    <div class="toolbar">
      <div>
        <form action="/sales/uploadsprtvr/" method="post" enctype="multipart/form-data">
          <input type="file" name="csv" />
          <input type="submit" value="Импортировать"/>
          {% csrf_token %}
        </form>
      </div>
      <div>
        <form action="/sales/clearsprtvr/" method="post">
          <input type="submit" value="Очистить">
          {% csrf_token %}
        </form>
      </div>
    </div>
    <div id="sprtvr">
      {{sprtvr|safe}}
    </div>
  </div>
  <div class="page" id="admin2">
    <h1>Клиенты</h1>
    Клиенты
  </div>
</div>
<script>
  MakePages("admin");
  MakeAccordion("sprtvr");
</script>